<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.droidtr.deletegapps" >

    <application
        android:label="/d/gapps"
        android:theme="@android:style/Theme.Dialog" >
        <activity
            android:name=".MainActivity"
            android:label="/d/gapps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
